:root {
    font-size: 16px;
}

body {
    /* width: 100%; */
    margin: 0;
    padding: 10px;
    background-color: #f0f0f0;
}

h1 {
    margin: 10px;
    margin-top: 20px;
    padding: 10px 0px 0px 10px;
}

h2 {
    margin: 10px;
    padding: 10px 0px 0px 10px;
}

p {
    margin: 10px;
    padding: 10px;
}

table {
    margin: 10px;
    padding: 10px;
    border-collapse: collapse;
    width: 100%;
    color: #EEE;
    background-color: #333;
    border: 0;
}

th {
    padding: 10px;
    background-color: #111;
}

#formula_block {
    margin: 20px;
}

.formula {
    margin: 15px;
}

#code {
    padding-left: 30px;
    padding-right: 20%;
}

.code_block {
    margin: 20px;
}

#reg_0x00 {
    margin: 20px;
}

.reg_0x00_bit {
    margin: 5px;
}

.reg_0x00_value {
    margin-top: 15px;
}